$mainyellow: #c1b11c;
$maingreen: #00e05a;
$fontcolor: rgba(255, 255, 255, 0.788);
$backgroundcolor: #0b0d14; //0b0d14
$footercolor: #0e101b; //0e101b
$navbackground: #050505;
$menucolor: #0c0c0c; //0c0c0c
